### common options for all subcommands (help, query, build, ...)
common --show_timestamps --enable_platform_specific_config --experimental_convenience_symlinks=ignore

# connect to buchgr/bazel-remote cache
# These flags can unfortunately not be specified for `common`, as they are not accepted by all subcommands (help, version, dump)
# The --experimental_remote_downloader_local_fallback is used as workaround for issue with rules_oci (https://github.com/bazel-contrib/rules_oci/issues/275).
build:buildkite --remote_cache=grpc://bazel-remote:9092 --experimental_remote_downloader=grpc://bazel-remote:9092 --experimental_remote_downloader_local_fallback=true
query:buildkite --remote_cache=grpc://bazel-remote:9092 --experimental_remote_downloader=grpc://bazel-remote:9092 --experimental_remote_downloader_local_fallback=true
fetch:buildkite --remote_cache=grpc://bazel-remote:9092 --experimental_remote_downloader=grpc://bazel-remote:9092 --experimental_remote_downloader_local_fallback=true
